<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">
<head>
<meta charset="UTF-8" >
<title>Add Document</title>

<th:block layout:fragment="local-styles">
    <!-- Bootstrap Select Css -->
   <link href="/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
    <!-- Sweetalert Css -->
    <link href="/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
</th:block>
</head>
<body>
	<section class="content" layout:fragment="content">
		<div class="">

			<!-- Input -->
			<div class="row clearfix">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="card">

						<form  th:object = "${officeObject}" th:action="@{/administrator/offices/save}" method="POST">
						
							<input type = "hidden" th:field = "*{id}">
							<div class="header">
								<h2>
									Add Office<small>Add another office</small>
								</h2>

							</div>
							<div class="body">
								<div class="row clearfix">
							
							<div class="col-sm-6">
										<h2 class="card-inside-title">Office Code</h2>
										<div class="form-group form-float">
											<div class="form-line">
												<input th:field="*{officecode}" placeholder="Office Code" type="text"  class="form-control" minlength="2" maxlength="16" pattern="^[_A-z0-9]*((-|\s)*[_A-z0-9])*$"/>
												<div class="help-info">No special characters allowed</div>
												
											</div>
										</div>
									</div>
									
							<div class="col-sm-6">
										<h2 class="card-inside-title">Office Description</h2>
										<div class="form-group form-float">
											<div class="form-line">
												<input th:field="*{officename}" placeholder="Office Description" type="text"  class="form-control" minlength="6" maxlength="64" pattern="^[_A-z0-9]*((-|\s)*[_A-z0-9])*$"/>
												<div class="help-info">No special characters allowed</div>
												
											</div>
										</div>
									</div>
						

									<div class="col-sm-5"></div>
									<div class="col-sm-7">
										<button id="saveDocBtn" class="btn btn-primary waves-effect" type="submit" data-type="success">SUBMIT</button>
										<a href="/administrator/offices/view"><button
													class="btn btn-primary waves-effect" type="button">CANCEL</button></a>
									
									</div>

								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- #END# Input -->
	</section>

	<th:block layout:fragment="local-scripts">
		<!-- Autosize Plugin Js -->
	    <script src="/plugins/autosize/autosize.js"></script>
	     <!-- Select Plugin Js -->
    	<script src="/plugins/bootstrap-select/js/bootstrap-select.js"></script>
   	    <!-- SweetAlert Plugin Js -->
    	<script src="/plugins/sweetalert/sweetalert.min.js"></script>
    	<!--<script>
    	
    		$(function(){
    			 $('#saveDocBtn').on('click', function () {
    				 var type = $(this).data('type');
    			        if (type === 'success') {
    			            showSuccessMessage();
    			        }
    			 });
    		});
    			 
 			 function showSuccessMessage() {
			    swal("Good job!", "You clicked the button!", "success");
			}
    	</script>
	    <script>
	    	$(function(){
	    		//Textarea auto growth
	    	    autosize($('textarea.auto-growth'));
	    	})
	    </script>-->
		
	</th:block>
</body>
<!-- /.content-wrapper -->

</html>