<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">
<head>
<meta charset="UTF-8" >
<title>Add Document</title>

<th:block layout:fragment="local-styles">
    <!-- Bootstrap Select Css -->
   <link href="/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
    <!-- Sweetalert Css -->
    <link href="/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
</th:block>
</head>
<body>
	<section class="content" layout:fragment="content">
		<div class="">

			<!-- Input -->
			<div class="row clearfix">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="card">

						<form  th:object = "${typeObject}" th:action="@{/administrator/type/save}" method="POST">
							<!-- data nito mapupunta sa ADD(kung anumang name) at PENDING na database table -->
							
					
							<div class="header">
								<h2>
									Add Document Types <small>Add another document type.</small>
								</h2>

							</div>
							<div class="body">
								<div class="row clearfix">
							
							<div class="col-sm-6">
										<h2 class="card-inside-title">Document Type Code</h2>
										<div class="form-group">
											<div class="form-line">
												<input th:field="*{docAbbrev}" placeholder="Type Code" type="text"  class="form-control" />
												
												
											</div>
										</div>
									</div>
									
							<div class="col-sm-6">
										<h2 class="card-inside-title">Document Type Description</h2>
										<div class="form-group">
											<div class="form-line">
												<input th:field="*{docType}" placeholder="Type Description" type="text"  class="form-control" />
												
												
											</div>
										</div>
									</div>
						

									<div class="col-sm-5"></div>
									<div class="col-sm-7">
										<button id="saveDocBtn" class="btn btn-primary waves-effect" type="submit" data-type="success">SUBMIT</button>
									</div>

								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- #END# Input -->
	</section>

	<th:block layout:fragment="local-scripts">
		<!-- Autosize Plugin Js -->
	    <script src="/plugins/autosize/autosize.js"></script>
	     <!-- Select Plugin Js -->
    	<script src="/plugins/bootstrap-select/js/bootstrap-select.js"></script>
   	    <!-- SweetAlert Plugin Js -->
    	<script src="/plugins/sweetalert/sweetalert.min.js"></script>
    	<script>
    		$(function(){
    			 $('#saveDocBtn').on('click', function () {
    				 var type = $(this).data('type');
    			        if (type === 'success') {
    			            showSuccessMessage();
    			        }
    			 });
    		});
    			 
 			 function showSuccessMessage() {
			    swal("Good job!", "You clicked the button!", "success");
			}
    	</script>
	    <script>
	    	$(function(){
	    		//Textarea auto growth
	    	    autosize($('textarea.auto-growth'));
	    	})
	    </script>
		
	</th:block>
</body>
<!-- /.content-wrapper -->

</html>