<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <title>Users</title>

    <th:block layout:fragment="local-styles">

    <!-- Animation Css -->
    <link href="/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">
    </th:block>
</head>
<body class="theme-orange">
	<section class="content" layout:fragment="content">
		<div class="">
			<!--container fluid class-->
			<div class="block-header"></div>
			<!-- Basic Examples -->
			<div class="row clearfix">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="card">
						<div class="header">
						
							<h2 class="col-sm-11">
								User Details <small>List of registered offices. </small>
							</h2>
								
							
							<div class="col-sm-1" data-link="administrator/addUser">
									<a href="addUser"><button class="btn btn-primary waves-effect" type="button" >
										Add User
									</button></a>
								</div>
							<h1></h1>
						</div>	
						<div class="body">
							<div class="table-responsive">
								<table id="trackDocTbl"class="table table-bordered table-striped table-hover dataTable">
									<thead>
										<tr>
											<th>First Name</th>
											<th>Last Name</th>
											<th>Username</th>
											<th>Office</th>
											<th>Email</th>
											<th>Actions</th>
										
										</tr>
									</thead>
									<tbody>
									<tr th:each="administrator: ${userList}" th:if="${administrator.name} != 'ADMIN'">
										<td th:text="${administrator.name}"></td>
										<td th:text="${administrator.lname}"></td>
										<td th:text="${administrator.username}"></td>
										<td th:text="${administrator.office}"></td>
										<td th:text="${administrator.email}"></td>
										<td align="center">
										
										<!-- REMOVED TEMPORARILY DUE TO PROCESS CONFLICT -->
											<!-- <a th:href="@{'/administrator/user/'+${administrator.id}+'/edit'}">
												<button type="button" class="btn btn-xs btn-warning waves-effect">
			                                    	<i class="material-icons">mode_edit</i>
			                                	</button>
											</a> -->
			                               <a th:href="@{'/administrator/user/'+${administrator.id}+'/remove'}">
			                                	<button type="button" class="btn btn-xs btn-danger waves-effect">
			                                    	<i class="material-icons">delete</i>
			                                	</button>
			                                </a>
										</td>
									
									</tr>
										
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<th:block layout:fragment="local-scripts">
	    <!-- Jquery DataTable Plugin Js -->
	    <script type="text/javascript" th:src="@{/plugins/jquery-datatable/jquery.dataTables.js}"></script>
	    <script type="text/javascript" th:src="@{/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js}"></script>
	    <script type="text/javascript" th:src="@{/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js}"></script>
	    <script type="text/javascript" th:src="@{/plugins/jquery-datatable/extensions/export/buttons.flash.min.js}"></script>
	    <script type="text/javascript" th:src="@{/plugins/jquery-datatable/extensions/export/jszip.min.js}"></script>
	    <script type="text/javascript" th:src="@{/plugins/jquery-datatable/extensions/export/pdfmake.min.js}"></script>
	    <script type="text/javascript" th:src="@{/plugins/jquery-datatable/extensions/export/vfs_fonts.js}"></script>
	    <script type="text/javascript" th:src="@{/plugins/jquery-datatable/extensions/export/buttons.html5.min.js}"></script>
    	<script type="text/javascript" th:src="@{/plugins/jquery-datatable/extensions/export/buttons.print.min.js}"></script>
    	
		<script>
		$(function () {
		    $('#trackDocTbl').DataTable({
		        responsive: true,
		        scrollY:'30vh'    
		    });
		});
		</script>
	</th:block>
</body>
<!-- /.content-wrapper -->

</html>