<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <title>User Logs</title>

    <th:block layout:fragment="local-styles">

    <!-- Animation Css -->
    <link href="/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">
    	<!-- Sweetalert Css -->
    <link href="/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
    </th:block>
</head>
<body class="theme-orange">
	<section class="content" layout:fragment="content">
		<div class="">
			<!--container fluid class-->
			<div class="block-header"></div>
			<!-- Basic Examples -->
			<div class="row clearfix">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="card">
						<div class="header">
							<h2>
								User Logs<small>Logs of everything the users did</small>
							</h2>
						</div>		
						<div class="body">
							<div class="table-responsive">
								<table id="trackDocTbl"class="table table-bordered table-striped table-hover dataTable">
									<thead>
										<tr>
											<th>DATETIME</th>
											<th>CTS</th>
											<th>ACTION</th>
											<th>REMARK</th>
										</tr>
									</thead>
									<tbody>
									<tr th:each="logs: ${userLogs}">
										<td th:text="${logs.datetime}"></td>
										<td th:text="${logs.cts}"></td>
										<td th:text="${logs.action}"></td>
										<td>
										<th:block th:switch="${logs.remark}">
											<th:block th:case="''">
												<span class="label bg-gray">
													EMPTY REMARK
												</span>	
											</th:block>
											<th:block th:case="null">
												<span class="label bg-gray">
													EMPTY REMARK
												</span>	
											</th:block>
											<th:block th:case="*">
												<th:block th:if ="${#strings.length(logs.remark) > 20}">
														<span style="cursor: pointer" th:onclick="showLongRemark([[${logs.remark}]])" class="label waves-effect bg-cyan">
															CLICK HERE TO VIEW REMARK
														</span>	
												</th:block>
												<th:block th:unless = "${#strings.length(logs.remark) > 20}">
														<small>[[${logs.remark}]]</small>
												</th:block>
												
											</th:block>
										</th:block>
										</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<th:block layout:fragment="local-scripts">
	    <!-- Jquery DataTable Plugin Js -->
	    <script type="text/javascript" th:src="@{/plugins/jquery-datatable/jquery.dataTables.js}"></script>
	    <script type="text/javascript" th:src="@{/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js}"></script>
	    <script type="text/javascript" th:src="@{/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js}"></script>
	    <script type="text/javascript" th:src="@{/plugins/jquery-datatable/extensions/export/buttons.flash.min.js}"></script>
	    <script type="text/javascript" th:src="@{/plugins/jquery-datatable/extensions/export/jszip.min.js}"></script>
	    <script type="text/javascript" th:src="@{/plugins/jquery-datatable/extensions/export/pdfmake.min.js}"></script>
	    <script type="text/javascript" th:src="@{/plugins/jquery-datatable/extensions/export/vfs_fonts.js}"></script>
	    <script type="text/javascript" th:src="@{/plugins/jquery-datatable/extensions/export/buttons.html5.min.js}"></script>
    	<script type="text/javascript" th:src="@{/plugins/jquery-datatable/extensions/export/buttons.print.min.js}"></script>
    	
    		<!-- SweetAlert Plugin Js -->
    	<script src="/plugins/sweetalert/sweetalert.min.js"></script>
		<script>
		$(function () {
		    $('#trackDocTbl').DataTable({
		    	order: [0,'desc'],
		        responsive: true,
		        scrollY:'30vh'    
		    });
		});
		</script>
		
		<script>
			function showLongDescription(desc){
				swal({
			        title: "Document Description",
			        text: "<pre style='white-space:pre-wrap'>"+desc+"</pre>",
			        html: true
			    });
			}
			
			function showLongRemark(rem){
				swal({
			        title: "Document Remark",
			        text: "<pre style='white-space:pre-wrap'>"+rem+"</pre>",
			        html: true
			    });
			}
		</script>
	</th:block>
</body>
<!-- /.content-wrapper -->

</html>