<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout2}">
<head>
    <meta charset="UTF-8">
    <title>Document Tracker</title>
	
    <th:block layout:fragment="local-styles">
    	<style>
    	#tracker-container{
    		position:relative;
    		top:90px;
    		width:40%;
    		min-width:500px;
    	}
    	.legend{
    		position:relative;
    		top:50px;
    		left:-100px;
    	}
    	.info-icon{
	    	font-size:20pt !important; 
	    	position:relative;
	    	bottom:10px;
    	}
    	
    	</style>
    	

    </th:block>
</head>
<body>
	<section class="tracker-content" layout:fragment="content">
		<div id="tracker-container"class="container-fluid">
		<th:block th:if="${documentHistory.size() == 0}">
		</th:block>
		<th:block th:if="${documentHistory.size() >= 1}">
		<div class="block-header">
				<h2>SHOWING LATEST DOCUMENT ACTIVITY</h2><small>Refreshing in 5</small>
			</div>
			<div class="row clearfix">
			<div class="col-lg-12">
			<!-- <button type="button" class="btn btn-success btn-circle-lg waves-effect waves-circle waves-float legend">
                <i class="material-icons">home</i>
            </button> -->
            <th:block th:each="activity : ${documentHistory}">
            	<div class="card">
            		<th:block th:if="${activity.action == 'ADDED'}">
	            		<button style="position:absolute; top:60px; left:-80px;" type="button" class="btn bg-green btn-circle-lg waves-effect waves-circle waves-float">
	                        <i class="material-icons">email</i>
	                    </button>
	                    
	            		<div class="header bg-green">
							<h2>
								DOCUMENT WAS ADDED<small>[[${#dates.format(activity.dateTime, 'MMM dd, yyyy')}]], [[${#dates.format(activity.dateTime, 'hh:mm aa')}]]</small>
							</h2>
							<ul class="header-dropdown m-r-0">
								<li><a href="javascript:void(0);"> <i
										class="material-icons">info_outline</i>
								</a></li>
								<li><a href="javascript:void(0);"> <i
										class="material-icons">help_outline</i>
								</a></li>
							</ul>
						</div>
						<div class="body">
							<div class="row clear-fix">
								<div class="col-md-6" style="margin-bottom:0px;">
                                    <p>
                                        <small>TRACKING NUMBER</small>
                                    </p>
                                    <div class="input-group" style="margin-bottom:0px;">
                                        <div class="form-line align-center">
                                            <span class="">[[${activity.trackingnum}]]</span>
                                        </div>
                                        <span class="input-group-addon">
                                            <i class="material-icons col-red info-icon">location_on</i>
                                        </span>
                                    </div>
                                </div>
                                
                                <div class="col-md-6" style="margin-bottom:0px;">
                                    <p>
                                        <small>CURRENT OFFICE</small>
                                    </p>
                                    <div class="input-group" style="margin-bottom:0px;">
                                        <div class="form-line align-center">
                                            <span class="">[[${activity.currentOffice}]]</span>
                                        </div>
                                        <span class="input-group-addon">
                                            <i class="material-icons col-light-blue info-icon">person_pin_circle</i>
                                        </span>
                                    </div>
                                </div>
							</div>
						</div>
            		</th:block>
            		
            		<th:block th:if="${activity.action == 'FORWARDED'}">
            			<button style="position:absolute; top:60px; left:-80px;" type="button" class="btn bg-amber btn-circle-lg waves-effect waves-circle waves-float">
	                        <i class="material-icons">forward</i>
	                    </button>
	            		<div class="header bg-amber">
							<h2>
								DOCUMENT WAS TRANSFERED<small>[[${#dates.format(activity.dateTime, 'MMM dd, yyyy')}]], [[${#dates.format(activity.dateTime, 'hh:mm aa')}]]</small>
							</h2>
							<ul class="header-dropdown m-r-0">
								<li><a href="javascript:void(0);"> <i
										class="material-icons">info_outline</i>
								</a></li>
								<li><a href="javascript:void(0);"> <i
										class="material-icons">help_outline</i>
								</a></li>
							</ul>
						</div>
						<div class="body">
						<div class="row clear-fix">
							<div class="col-md-6" style="margin-bottom: 0px;">
								<p>
									<small>CURRENT OFFICE</small>
								</p>
								<div class="input-group" style="margin-bottom: 0px;">
									<div class="form-line align-center">
										<span class="">[[${activity.currentOffice}]]</span>
									</div>
									<span class="input-group-addon"> <i
										class="material-icons col-light-blue info-icon">person_pin_circle</i>
									</span>
								</div>
							</div>
							<div class="col-md-6" style="margin-bottom: 0px;">
								<p>
									<small>FORWARDED OFFICE</small>
								</p>
								<div class="input-group" style="margin-bottom: 0px;">
									<div class="form-line align-center">
										<span class="">[[${activity.forwardedOffice}]]</span>
									</div>
									<span class="input-group-addon"> <i
										class="material-icons col-orange info-icon">forward</i>
									</span>
								</div>
							</div>
						</div>
						</div>
            		</th:block>
            		<th:block th:if="${activity.action == 'RECEIVED'}">
            			<button style="position:absolute; top:60px; left:-80px;" type="button" class="btn bg-orange btn-circle-lg waves-effect waves-circle waves-float">
	                        <i class="material-icons">move_to_inbox</i>
	                    </button>
	            		<div class="header bg-orange">
							<h2>
								DOCUMENT WAS DELIVERED<small>[[${#dates.format(activity.dateTime, 'MMM dd, yyyy')}]], [[${#dates.format(activity.dateTime, 'hh:mm aa')}]]</small>
							</h2>
							<ul class="header-dropdown m-r-0">
								<li><a href="javascript:void(0);"> <i
										class="material-icons">info_outline</i>
								</a></li>
								<li><a href="javascript:void(0);"> <i
										class="material-icons">help_outline</i>
								</a></li>
							</ul>
						</div>
						<div class="body">
						<div class="row clear-fix">
							<div class="col-md-6" style="margin-bottom: 0px;">
								<p>
									<small>CURRENT OFFICE</small>
								</p>
								<div class="input-group" style="margin-bottom: 0px;">
									<div class="form-line align-center">
										<span class="">[[${activity.currentOffice}]]</span>
									</div>
									<span class="input-group-addon"> <i
										class="material-icons col-light-blue info-icon">person_pin_circle</i>
									</span>
								</div>
							</div>
							<div class="col-md-6" style="margin-bottom: 0px;">
								<p>
									<small>SOURCE OFFICE</small>
								</p>
								<div class="input-group" style="margin-bottom: 0px;">
									<div class="form-line align-center">
										<span class="">[[${activity.srcOffice}]]</span>
									</div>
									<span class="input-group-addon"> <i
										class="material-icons col-blue info-icon">person_pin_circle</i>
									</span>
								</div>
							</div>
						</div>
						</div>
            		</th:block>
            		<th:block th:if="${activity.action == 'RELEASED'}">
            			<button style="position:absolute; top:60px; left:-80px;" type="button" class="btn bg-light-blue btn-circle-lg waves-effect waves-circle waves-float">
	                        <i class="material-icons">send</i>
	                    </button>
	            		<div class="header bg-light-blue">
							<h2>
								DOCUMENT WAS RELEASED<small>[[${#dates.format(activity.dateTime, 'MMM dd, yyyy')}]], [[${#dates.format(activity.dateTime, 'hh:mm aa')}]]</small>
							</h2>
							<ul class="header-dropdown m-r-0">
								<li><a href="javascript:void(0);"> <i
										class="material-icons">info_outline</i>
								</a></li>
								<li><a href="javascript:void(0);"> <i
										class="material-icons">help_outline</i>
								</a></li>
							</ul>
						</div>
						<div class="body">
						<div class="row clear-fix">
							<div class="col-md-6" style="margin-bottom: 0px;">
								<p>
									<small>CURRENT OFFICE</small>
								</p>
								<div class="input-group" style="margin-bottom: 0px;">
									<div class="form-line align-center">
										<span class="">[[${activity.currentOffice}]]</span>
									</div>
									<span class="input-group-addon"> <i
										class="material-icons col-light-blue info-icon">person_pin_circle</i>
									</span>
								</div>
							</div>
							<div class="col-md-6" style="margin-bottom: 0px;">
								<p>
									<small>FLOW COMPLETED</small>
								</p>
								<div class="input-group" style="margin-bottom: 0px;">
									<div class="form-line align-center">
										<span class="">RELEASED</span>
									</div>
									<span class="input-group-addon"><i
										class="material-icons col-green info-icon">check</i>
									</span>
								</div>
							</div>
						</div>
						</div>
            		</th:block>
					
				</div>
            
            </th:block>
				
			</div>
			<!-- #END# Basic Card -->
		</div>
		</th:block>
			
		</div>
	</section>

<th:block layout:fragment="local-scripts">

</th:block>
</body>
<!-- /.content-wrapper -->

</html>