
<section th:fragment="sidebar">
	<!-- Left Sidebar -->
	
	<aside id="leftsidebar" class="sidebar">
		<!-- User Info -->
		<div class="user-info" style="background: url(/images/default-user-bg.jpg) no-repeat no-repeat;">
			<div class="image">
				<!-- <img src="/images/pup-logo.png" width="48" height="48" alt="User">  -->
			</div>
			
			<div class="info-container">
				<div sec:authentication="principal.fullname" class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></div>
				<div sec:authentication="principal.email" class="email"></div>
				<div class="btn-group user-helper-dropdown">
					<i class="material-icons" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
					<ul class="dropdown-menu pull-right">
					<th:block th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">
						<li><a th:href="@{/documents/profilePage}"
							class=" waves-effect waves-block"><i class="material-icons">person</i>Profile</a></li>
						<li role="separator" class="divider"></li>
						</th:block>
						<th:block th:if="${#authorization.expression('hasRole(''ROLE_OFFICE'')')}">
						<li><a th:href="@{/documents/profilePage}"
							class=" waves-effect waves-block"><i class="material-icons">person</i>Profile</a></li>
						<li role="separator" class="divider"></li>
						</th:block>
						<li><a th:href="@{/logout}"
							class=" waves-effect waves-block"><i class="material-icons">input</i>Sign
								Out</a></li>
					</ul>
				</div>
			</div>
		
			
		</div>
		<!-- #User Info -->
		<!-- Menu -->
		<div class="menu">
			<ul class="list">
				<li class="header">NAVIGATION</li>
				<th:block th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">
				<li th:classappend="${#request.requestURI.startsWith('/home') ? 'active':''}" class="">
					<a href="/home"> 
						<i class="material-icons">home</i> 
						<span>Home</span>
					</a>
				</li>
				</th:block>
				
			 	<th:block th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
			 	<li th:classappend="${#request.requestURI.startsWith('/administrator/home') ? 'active':''}" class="">
					<a href="/administrator/home"> 
						<i class="material-icons">home</i> 
						<span>Home</span>
					</a>
				</li>
				<li th:classappend="${#request.requestURI == '/administrator/users' ||
									  #request.requestURI == '/administrator/type/view' ||
									  #request.requestURI == '/administrator/offices/view'									
									  													? 'active':''}" class="">
					<a href="javascript:void(0);" class="menu-toggle"> 
						<i class="material-icons">folder</i> 
						<span>Administrator</span>
					</a>
					<ul class="ml-menu">
						<li th:classappend="${#request.requestURI.startsWith('/administrator/users') ? 'active':''}" class="">
						<a href="/administrator/users">Users</a></li>
						<li th:classappend="${#request.requestURI.startsWith('/administrator/type/view') ? 'active':''}"><a href="/administrator/type/view">Document Type</a></li>
						<li th:classappend="${#request.requestURI.startsWith('/administrator/offices/view') ? 'active':''}"><a href="/administrator/offices/view">Offices</a></li>
						<!-- <li><a href="#">Document</a></li> -->
					</ul>
				</li>
				<li th:classappend="${#request.requestURI == '/administrator/userLogs' ||
									  #request.requestURI == '/administrator/history'										
									  													? 'active':''}" class="">		  													
					<a href="javascript:void(0);" class="menu-toggle"> 
						<i class="material-icons">folder</i> 
						<span>Logs</span>
					</a>
					<ul class="ml-menu">
						<li th:classappend="${#request.requestURI.startsWith('/administrator/userLogs') ? 'active':''}"><a href="/administrator/userLogs">User Logs</a></li>
						<li th:classappend="${#request.requestURI.startsWith('/administrator/history') ? 'active':''}"><a href="/administrator/history">History</a></li>
					</ul>
				</li>
				</th:block>
				
				
				
				
				<th:block th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">
				<li th:classappend="${#request.requestURI == '/documents/track' ? 'active':''}" class="">
					<a href="/documents/track"> 
						<i class="material-icons">track_changes</i>
						<span>Track Document</span>
					</a>
				</li>
				<li th:classappend="${#request.requestURI == '/documents/add' ? 'active':''}" class="">
					<a href="/documents/add"> 
						<i class="material-icons">note_add</i>
						<span>Add Document</span>
					</a>
				</li>
				<li th:classappend="${#request.requestURI == '/documents/incoming' ||
									  #request.requestURI == '/documents/pending' ||											
									  #request.requestURI == '/documents/forwarded'										
									  													? 'active':''}" class="">
					<a href="javascript:void(0);" class="menu-toggle"> 
						<i class="material-icons">folder</i> 
						<span>My Documents</span>
					</a>
					<ul class="ml-menu">
						<li><a href="/documents/incoming">
							Incoming Documents
							<span class="badge bg-teal"></span>
							</a>
						</li>
						<li><a href="/documents/pending">
							Pending Documents
							<span class="badge bg-teal"></span>
							</a>
						</li>
						<li><a href="/documents/forwarded">
							Forwarded Documents
							<span class="badge bg-teal"></span>
							</a>
						</li>
					</ul>
				</li>
				</th:block>
				
				
				
				<!--  TEEEEEEEEEEEEESTT 	-->
				<th:block th:if="${#authorization.expression('hasRole(''ROLE_OFFICE'')')}">
				<li th:classappend="${#request.requestURI.startsWith('/home') ? 'active':''}" class="">
					<a href="/home"> 
						<i class="material-icons">home</i> 
						<span>Home</span>
					</a>
				</li>
				<li th:classappend="${#request.requestURI == '/documents/track' ? 'active':''}" class="">
					<a href="/documents/track"> 
						<i class="material-icons">track_changes</i>
						<span>Track Document</span>
					</a>
				</li>
				<li th:classappend="${#request.requestURI == '/documents/incoming' ||
									  #request.requestURI == '/documents/pending' ||											
									  #request.requestURI == '/documents/forwarded'										
									  													? 'active':''}" class="">
					<a href="javascript:void(0);" class="menu-toggle"> 
						<i class="material-icons">folder</i> 
						<span>My Documents</span>
					</a>
					<ul class="ml-menu">
						<li><a href="/documents/incoming">Incoming Documents</a></li>
						<li><a href="/documents/pending">Pending Documents</a></li>
						<li><a href="/documents/forwarded">Forwarded Documents</a>
						</li>
					</ul>
				</li>
				</th:block>
				<!--  TEEEEEEEEEEEEESTT 	-->
			
				
			</ul>
		</div>
		<!-- #Menu -->

		<!-- Footer -->
		<div class="legal">
			<div class="copyright">
				&copy; 2019 - 2020<a href="/home" style="color:grey !important"> InterOffice<b style = "color: gold">DTS</b></a>.
			</div>
			<div class="version">
				<b>Version: </b> 2.2.0
			</div>
		</div>
		<!-- #Footer -->


	</aside>
	<!-- #END# Left Sidebar -->

</section>
