.sidebar .user-info {
	background-color: #696969!important;
}

.container-fluid .navbar{
	background-color:black !important;
}

.topbar{
	border-bottom:5px solid gold !important;
}
#login-span:hover{
	font-weight: bold;
}



