body{
	background:maroon;
	color: gold;

}
.home {
	background: white !important;
}
.row {
	color:gray;
}
.login-textfield{
	background:transparent;
	padding:10px !important;
	color:black;
}

.card{
	background: #696969 !important;
	
}

.card .header{
	background: #B20000 !important;
	color: gold !important;
}

.card .header h2{

	color: gold !important;
}
.card .body1{
	background:white !important;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}