<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <title>Forward Document</title>

    <th:block layout:fragment="local-styles">
	    <!-- Bootstrap Select Css -->
	   <link href="/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
	    <!-- Sweetalert Css -->
	    <link href="/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
    </th:block>
</head>
<body>
	<section class="content" layout:fragment="content">
		<div class="">
			<!--container fluid class-->
			<div class="block-header"></div>

			<!-- Select -->
			<div class="row clearfix">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="card">
						<div class="header" align="center">
							<h2>SELECT DESTINATION OFFICE</h2>
						</div>
						<table
							class="table table-bordered table-striped table-hover js-basic-example dataTable">
							<thead>
								<tr>
									<th>Tracking No.</th>
									<th>Description</th>
									<th>Document Type</th>
									<th>Date Posted</th>

								</tr>
							</thead>

							<tbody>
								<tr>
									<td th:text="${document.trackingnum}"></td>
									<td>
										<th:block th:switch="${document.description}">
												<th:block th:case="''">
													<span class="label bg-gray"> EMPTY DESCRIPTION </span>
												</th:block>
												<th:block th:case="null">
													<span class="label bg-gray"> EMPTY DESCRIPTION </span>
												</th:block>
												<th:block th:case="*">
													<th:block
														th:if="${#strings.length(document.description) > 20}">
														<span style="cursor: pointer"
															th:onclick="showLongDescription([[${document.description}]])"
															class="label waves-effect bg-blue"> CLICK HERE TO
															VIEW DESCRIPTION </span>
													</th:block>
													<th:block
														th:unless="${#strings.length(document.description) > 20}">
															[[${document.description}]]
													</th:block>
	
												</th:block>
											</th:block>
										</td>
									<td th:text="${document.doctype}"></td>
									<td th:text="${document.date_received}"></td>
								</tr>
							</tbody>
						</table>



						<div class="body">
							<!-- <form method="post" th:action="@{'/documents/forward/'+${document.trackingnum}+'/execute'}" id="form1"> -->
							<form id="form1">
								<input type="hidden" id="ITO" name="destination" />
								<input type="hidden" id="trackingnumber" th:value="${document.trackingnum}"/>

								<div class="row clearfix">
									<div class="col-lg-12">
										<div class="col-lg-3"></div>
										<div class="col-lg-6">
											<select class="form-control show-tick" id="js-select2"
												required>
												<option value="">-- Please select --</option>
												<th:block th:each="office: ${officeList}">
													<th:block th:if="${office.officecode != #authentication.principal.office}">
														<option th:text="${office.officename}" th:value="${office.officecode}"></option>
													</th:block>
												</th:block>
											</select>
										</div>
									</div>
									<div class="col-lg-3"></div>
									<div class="col-lg-6">
										<h2 class="card-inside-title">Remarks</h2>
										<div class="form-group">
											<div class="form-line">
												<textarea rows="4" class="form-control no-resize"
													id = "remark" name="remark" placeholder="Please type what you want..."></textarea>
											</div>
										</div>
									</div>

									<div class="col-lg-12 col-sm-3 "></div>
									
									
									<div class="col-lg-12 col-sm-7">

										<div class="col-lg-5"></div>
										<div>
											<button id="forwardDocButton" class="btn btn-primary waves-effect" type="submit">SUBMIT</button>

											<a href="/documents/pending"><button
													class="btn btn-primary waves-effect" type="button">CANCEL</button></a>
										</div>

									</div>

								</div>
							</form>
						</div>

					</div>
				</div>
			</div>
			<!-- #END# Select -->

		</div>
	</section>

<th:block layout:fragment="local-scripts">
  		<!-- Select Plugin Js -->
    	<script src="/plugins/bootstrap-select/js/bootstrap-select.js"></script>
   	  	<!-- SweetAlert Plugin Js -->
    	<script src="/plugins/sweetalert/sweetalert.min.js"></script>
		
		    	<!-- Jquery Validation Plugin Css -->
    	<script src="/plugins/jquery-validation/jquery.validate.js"></script>
    	<!-- JQuery Steps Plugin Js -->
    	<script src="/plugins/jquery-steps/jquery.steps.js"></script>
		
		<script>
		$(document).ready(function () {
		    $("#form1").submit(function (event) {
		    	
		    	 
		        //stop submit the form event. Do this manually using ajax post function
		        event.preventDefault();
		      
		 
		        var forwardDocumentForm = {}
		        forwardDocumentForm["destination"] = $("#js-select2").val();
		        forwardDocumentForm["remark"] = $("#remark").val();
		        forwardDocumentForm["trackingNumber"] = $("#trackingnumber").val();
		 
		        $("#forwardDocButton").prop("disabled", true);
		        
		        $.ajax({
		            type: "POST",
		            contentType: "application/json",
		            url: "/documents/forward/ajaxecute",
		            data: JSON.stringify(forwardDocumentForm),
		            dataType: 'json',
		            cache: false,
		            timeout: 600000,
		            success: function (data) {
		            	/* var json = "<h4>Ajax Response</h4><pre>"
		                    + JSON.stringify(data,null, 1) + "anoMessage" + data.anotherMessage + "</pre>";
		                $('#feedback').html(json); */
		                
		                //SWEET ALERT DIALOG
		                swal({
							  title: "Success",
							  text: "Document " + $("#trackingnumber").val() + " has been forwarded.",
							  type: "success",
							  showCancelButton: false,
							  confirmButtonClass: "primary",
							  confirmButtonText: "Confirm",
							  closeOnConfirm: false
							},
							function(){
								var url = "/home";
								$(location).attr('href',url);
							});	 
		                
		                console.log("SUCCESS : ", data);
		                
		                //should stay disabled so that the submission would not be duplicated
		                $("#forwardDocButton").prop("disabled", true);
		            },
		            error: function (e) {
		 
		                /* var json = "<h4>Ajax Response Error</h4><pre>"
		                    + e.responseText + "</pre>";
		                $('#feedback').html(json); */
		                
		              //SWEET ALERT DIALOG ERROR
		                swal({
		      			  title: "Failure",
		      			  text: "Error forwarding document: " + $("#trackingnumber").val(),
		      			  type: "error",
		      			  showCancelButton: false,
		      			  confirmButtonClass: "btn-danger",
		      			  confirmButtonText: "Confirm",
		      			  closeOnConfirm: false
		      			},
		      			function(){
		      				var url = "/home";
		      				$(location).attr('href',url);
		      			});
		                
		                
		                console.log("ERROR : ", e);
		                $("#btn-login").prop("disabled", false);
		 
		            }
		        });
		        
		    });
		 
		});
		</script>

		<script>
			$('#js-select2').on('change', function() {

				var choice = $("#js-select2").val();

				$("#ITO").val(choice);

			});
		</script>
		
		<script>
			function showLongDescription(desc){
				swal({
			        title: "Document Description",
			        text: "<pre style='white-space:pre-wrap'>"+desc+"</pre>",
			        html: true
			    });
			}
		</script>
	</th:block>
</body>
<!-- /.content-wrapper -->

</html>