<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <title>Forwarded Documents</title>

<th:block layout:fragment="local-styles">
	<link
		href="/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css"
		rel="stylesheet">
</th:block>
</head>
<body>
	<section class="content" layout:fragment="content">
		<div class="">
			<!--container fluid class-->
			<!-- Basic Examples -->
			<div class="row clearfix">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="card">
						<div class="header">
							<h2>Forwarded Documents<small>View your Forwarded Documents here</small></h2>
						</div>
						<div class="body">
							<div class="table-responsive">
								<table id="forwardedDocTbl" class="table table-bordered table-striped table-hover dataTable">
									<thead>
										<tr>
											<th>Tracking No.</th>
											<th>Description</th>
											<th>Document Type</th>
											<th>To</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="document: ${documentList}">
											<td>
												<small>[[${document.trackingnum}]]</small>
											</td>
											<td>
												<small>[[${document.description}]]</small>
											</td>
											<td>
												<small>[[${document.doctype}]]</small>
											</td>
											<td>
												<small>[[${document.forwarded_office}]]</small>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- #END# Basic Examples -->
		</div>
	</section>

	<th:block layout:fragment="local-scripts">
		<!-- Jquery DataTable Plugin Js -->
		<script type="text/javascript"
			th:src="@{/plugins/jquery-datatable/jquery.dataTables.js}"></script>
		<script type="text/javascript"
			th:src="@{/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js}"></script>
		<script type="text/javascript"
			th:src="@{/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js}"></script>
		<script type="text/javascript"
			th:src="@{/plugins/jquery-datatable/extensions/export/buttons.flash.min.js}"></script>
		<script type="text/javascript"
			th:src="@{/plugins/jquery-datatable/extensions/export/jszip.min.js}"></script>
		<script type="text/javascript"
			th:src="@{/plugins/jquery-datatable/extensions/export/pdfmake.min.js}"></script>
		<script type="text/javascript"
			th:src="@{/plugins/jquery-datatable/extensions/export/vfs_fonts.js}"></script>
		<script type="text/javascript"
			th:src="@{/plugins/jquery-datatable/extensions/export/buttons.html5.min.js}"></script>
		<script type="text/javascript"
			th:src="@{/plugins/jquery-datatable/extensions/export/buttons.print.min.js}"></script>

		<script>
			$(function() {
				$('#forwardedDocTbl').DataTable({
					order: [0,'desc'],
					responsive : true,
					scrollY : '30vh'
				});
			});
		</script>
	</th:block>
</body>
<!-- /.content-wrapper -->

</html>