<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <title>Pending Documents</title>

	<th:block layout:fragment="local-styles">
		<!-- JQuery DataTable Css -->
		<link href="/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet"/>
		<link href="/css/local/pendingDoc.css" rel="stylesheet"/>
		<!-- Sweetalert Css -->
	    <link href="/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
	</th:block>
</head>
<body>
	<section class="content" layout:fragment="content">
		<div>
			<!--container fluid class-->
			<!-- Basic Examples -->
			<div class="row clearfix">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="card">
						<div class="header">
							<h2>Pending Documents<small>View your Pending Documents here</small></h2>


						</div>
						<div class="body">
							<div class="table-responsive">
								<form method="post" id="form1">
									<!-- mareremove sa PENDING Table kung release, then change status ng document sa ADD table,
									mareremove sa PENDING table pag forward, mapupunta sa FORWARDED database table-->
									<input type="hidden" id="ITO" name="CTS" />
									<table data-order='[[ 2, "desc" ]]' id="pendingDocTbl" class="table table-bordered table-striped table-hover js-basic-example dataTable">
										<thead>
											<tr>
												<th>Tracking No.</th>
												<th>Type</th>
												<th>Date Received</th>
												<th>Description</th>
												<th>From</th>
												<th>Remarks</th>
												<th>Action</th>
											</tr>
										</thead>

										<tbody>
											<tr th:each="documents: ${documentList}">
												<td>
													<small>[[${documents.trackingnum}]]</small>
												</td>
												<td>
													<th:block  th:switch="${documents.doctype}">
														<th:block th:case="AF">
															<span class="label bg-purple">
																ACE FORM
															</span>	
														</th:block>
														<th:block th:case="CF">
															<span class="label bg-green">
																COMPLETION FORM
															</span>	
														</th:block>
														<th:block th:case="MOA">
															<span class="label bg-orange">
																MEMORANDUM OF AGREEMENT
															</span>	
														</th:block>
														<th:block th:case="PET">
															<span class="label bg-pink">
																PETITION
															</span>	
														</th:block>
														<th:block th:case="*">
															<span class="label bg-gray">
																[[${documents.doctype}]]
															</span>	
														</th:block>
													</th:block>
													
												</td>
												<td>
													<small>[[${documents.date_received}]]</small>
												</td>
												<td>
													<th:block th:switch="${documents.description}">
														<th:block th:case="''">
															<span class="label bg-gray">
																EMPTY DESCRIPTION
															</span>	
														</th:block>
														<th:block th:case="null">
															<span class="label bg-gray">
																EMPTY DESCRIPTION
															</span>	
														</th:block>
														<th:block th:case="*">
															<th:block th:if ="${#strings.length(documents.description) > 20}">
																	<span style="cursor: pointer" th:onclick="showLongDescription([[${documents.description}]])" class="label waves-effect bg-blue">
																		CLICK HERE TO VIEW DESCRIPTION
																	</span>	
															</th:block>
															<th:block th:unless = "${#strings.length(documents.description) > 20}">
																	<small>[[${documents.description}]]</small>
															</th:block>
															
														</th:block>
													</th:block>
												</td>
												<td>
													<small>[[${documents.source_office}]]</small>
												</td>
												<td>
													<th:block th:switch="${documents.remark}">
														<th:block th:case="''">
															<span class="label bg-gray">
																EMPTY REMARK
															</span>	
														</th:block>
														<th:block th:case="null">
															<span class="label bg-gray">
																EMPTY REMARK
															</span>	
														</th:block>
														<th:block th:case="*">
															<th:block th:if ="${#strings.length(documents.remark) > 20}">
																	<span style="cursor: pointer" th:onclick="showLongRemark([[${documents.remark}]])" class="label waves-effect bg-cyan">
																		CLICK HERE TO VIEW REMARK
																	</span>	
															</th:block>
															<th:block th:unless = "${#strings.length(documents.remark) > 20}">
																	<small>[[${documents.remark}]]</small>
															</th:block>
														</th:block>
													</th:block>
												</td>
												<td>
													<div style="padding-left: 20px">
														<a th:href="@{'/documents/forward/'+${documents.trackingnum}}">
															<button class="btn btn-primary waves-effect" type="button">
															<i class="material-icons">forward</i>
																<small>Forward</small>
															</button>
														</a>
														
														<th:block th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">
														<a th:href="@{'/documents/release/'+${documents.trackingnum}}">
															<button class="btn bg-orange waves-effect" type="button">
															<i class="material-icons">send</i>
																<small>Release</small>
															</button>
														</a>
														</th:block>
												
													</div>
												</td>
												
											</tr>
									
										</tbody>
									</table>
								
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- #END# Basic Examples -->
		</div>
	</section>

	<th:block layout:fragment="local-scripts">
	<!-- SweetAlert Plugin Js -->
    	<script src="/plugins/sweetalert/sweetalert.min.js"></script>
	    <!-- Jquery DataTable Plugin Js -->
	    <script type="text/javascript" th:src="@{/plugins/jquery-datatable/jquery.dataTables.js}"></script>
	    <script type="text/javascript" th:src="@{/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js}"></script>
	    <script type="text/javascript" th:src="@{/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js}"></script>
	    <script type="text/javascript" th:src="@{/plugins/jquery-datatable/extensions/export/buttons.flash.min.js}"></script>
	    <script type="text/javascript" th:src="@{/plugins/jquery-datatable/extensions/export/jszip.min.js}"></script>
	    <script type="text/javascript" th:src="@{/plugins/jquery-datatable/extensions/export/pdfmake.min.js}"></script>
	    <script type="text/javascript" th:src="@{/plugins/jquery-datatable/extensions/export/vfs_fonts.js}"></script>
	    <script type="text/javascript" th:src="@{/plugins/jquery-datatable/extensions/export/buttons.html5.min.js}"></script>
    	<script type="text/javascript" th:src="@{/plugins/jquery-datatable/extensions/export/buttons.print.min.js}"></script>
    	
  	   	
		<script>
		$(function () {
		    $('#pendingDocTbl').DataTable({
		        scrollY:'30vh'    
		    });
		});
		</script>
		
		<script>
			function showLongDescription(desc){
				swal({
			        title: "Document Description",
			        text: "<pre style='white-space:pre-wrap'>"+desc+"</pre>",
			        html: true
			    });
			}
			
			function showLongRemark(rem){
				swal({
			        title: "Document Remark",
			        text: "<pre style='white-space:pre-wrap'>"+rem+"</pre>",
			        html: true
			    });
			}
		</script>
	</th:block>
</body>
<!-- /.content-wrapper -->

</html>