<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Pending Documents</title>

	<th:block layout:fragment="local-styles">
		<!-- JQuery DataTable Css -->
		<link href="/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet"/>
		<link href="/css/local/pendingDoc.css" rel="stylesheet"/>
		<!-- Sweetalert Css -->
	    <link href="/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
	    <style>
	    	#recieve-button:hover{
	    		color:white;
	    	}
	    	#modal-table{
	    		table-layout: fixed;
				width: 100%;
	    		
	    	}
	    	#pendingDocTbl tr{
	    		cursor:pointer !important;
	    	}
	    	.field-name{
	    		font-weight:bold;
	    		font-size: 10pt;
	    		margin-bottom:10px;
	    		
	    		
	    	}
	    	.field-name i{
	 			position: relative;
				  /* Adjust these values accordingly */
				  top: 8px;	
	    	}
    	
    </style>s
	</th:block>
</head>
<body>
	<section class="content" layout:fragment="content">
		<div>
			<!--container fluid class-->
			<!-- Basic Examples -->
			<div class="row clearfix">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="card">
						<div class="header">
							<h2>Pending Documents<small>View your Pending Documents here</small></h2>


						</div>
						<div class="body">
							<div class="table-responsive">
								<form method="post" id="form1">
									<!-- mareremove sa PENDING Table kung release, then change status ng document sa ADD table,
									mareremove sa PENDING table pag forward, mapupunta sa FORWARDED database table-->
									<input type="hidden" id="ITO" name="CTS" />
									<table data-order='[[ 2, "desc" ]]' id="pendingDocTbl" class="table table-bordered table-striped table-hover js-basic-example dataTable">
										<thead>
											<tr>
												<th>Tracking Number</th>
												<th>Document Type</th>
												<th>Date Received</th>
												<!-- <th>Description</th> -->
												<th>Source Office</th>
												<!-- <th>Remarks</th> -->
												<!-- <th>Action</th> -->
											</tr>
										</thead>

										<tbody>
										<th:block th:each="documents: ${documentList}">
											<tr th:data-doc-tracking="${documents.trackingnum}"
												th:data-doc-type="${documents.doctype}"
												th:data-doc-date-received="${documents.date_received}"
												th:data-doc-desc="${documents.description}"
												th:data-doc-src="${documents.source_office}"
												th:data-doc-remark="${documents.remark}" onclick="showRowDetails(this)">
												<td>
													<small>[[${documents.trackingnum}]]</small>
												</td>
												<td>
													<th:block  th:switch="${documents.doctype}">
														<th:block th:case="AF">
															<span class="label bg-purple">
																ACE FORM
															</span>	
														</th:block>
														<th:block th:case="CF">
															<span class="label bg-green">
																COMPLETION FORM
															</span>	
														</th:block>
														<th:block th:case="MOA">
															<span class="label bg-orange">
																MEMORANDUM OF AGREEMENT
															</span>	
														</th:block>
														<th:block th:case="PET">
															<span class="label bg-pink">
																PETITION
															</span>	
														</th:block>
														<th:block th:case="*">
															<span class="label bg-gray">
																[[${documents.doctype}]]
															</span>	
														</th:block>
													</th:block>
													
												</td>
												<td>
													<small>[[${documents.date_received}]]</small>
												</td>
												<!-- <td>
													<th:block th:switch="${documents.description}">
														<th:block th:case="''">
															<span class="label bg-gray">
																EMPTY DESCRIPTION
															</span>	
														</th:block>
														<th:block th:case="null">
															<span class="label bg-gray">
																EMPTY DESCRIPTION
															</span>	
														</th:block>
														<th:block th:case="*">
															<th:block th:if ="${#strings.length(documents.description) > 20}">
																	<span style="cursor: pointer" th:onclick="showLongDescription([[${documents.description}]])" class="label waves-effect bg-blue">
																		CLICK HERE TO VIEW DESCRIPTION
																	</span>	
															</th:block>
															<th:block th:unless = "${#strings.length(documents.description) > 20}">
																	<small>[[${documents.description}]]</small>
															</th:block>
															
														</th:block>
													</th:block>
												</td> -->
												<td>
													<small>[[${documents.source_office}]]</small>
												</td>
												<!-- <td>
													<th:block th:switch="${documents.remark}">
														<th:block th:case="''">
															<span class="label bg-gray">
																EMPTY REMARK
															</span>	
														</th:block>
														<th:block th:case="null">
															<span class="label bg-gray">
																EMPTY REMARK
															</span>	
														</th:block>
														<th:block th:case="*">
															<th:block th:if ="${#strings.length(documents.remark) > 20}">
																	<span style="cursor: pointer" th:onclick="showLongRemark([[${documents.remark}]])" class="label waves-effect bg-cyan">
																		CLICK HERE TO VIEW REMARK
																	</span>	
															</th:block>
															<th:block th:unless = "${#strings.length(documents.remark) > 20}">
																	<small>[[${documents.remark}]]</small>
															</th:block>
														</th:block>
													</th:block>
												</td> -->
												<!-- <td>
													<div style="padding-left: 20px">
														<a th:href="@{'/documents/forward/'+${documents.trackingnum}}">
															<button class="btn btn-primary waves-effect" type="button">
															<i class="material-icons">forward</i>
																<small>Forward</small>
															</button>
														</a>
														
														<th:block th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">
														<a th:href="@{'/documents/release/'+${documents.trackingnum}}">
															<button class="btn bg-orange waves-effect" type="button">
															<i class="material-icons">send</i>
																<small>Release</small>
															</button>
														</a>
														</th:block>
												
													</div>
												</td> -->
												
											</tr>
										</th:block>
											
									
										</tbody>
									</table>
								
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- #END# Basic Examples -->
		</div>
		<!-- MODALS -->
            <div class="modal fade" id="actionModal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-md " role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        	<div class="row clearfix">
                        	<div class="col-xs-10 col-sm-10">
                            	<h4 class="modal-title" id="largeModalLabel">DOCUMENT DETAILS</h4>
                           	</div>
								<div class="col-xs-2 col-sm-2 align-right">
									<i class="material-icons font-20" data-dismiss="modal" style="cursor: pointer;">close</i>
								</div>
							</div>
                        </div>
                        <div class="modal-body">
                        <div>
                        <table id="modal-table" class="table table-hover">
                        	<tbody>
                        		<tr>
                        			<td>
                        				<div class="field-name">
				                            <i class="material-icons col-red">location_on</i>
				                            TRACKING NUMBER
				                        </div>
				                        <div class="field-value align-center" id="trackingNumber-val">
				                           TRACKING NUMBER
				                        </div>
                        			</td>
                        		</tr>
                        		
                        		<tr>
                        			<td>
                        				<div class="field-name">
				                            <i class="material-icons col-light-green">insert_drive_file</i>
				                            DOCUMENT TYPE
				                        </div>
				                        <div class="field-value align-center" id="docType-val">
				                           DOCUMENT TYPE
				                        </div>
                        			</td>
                        		</tr>
                        		
                        		<tr>
                        			<td>
                        				<div class="field-name">
				                            <i class="material-icons col-purple">date_range</i>
				                            DATE RECEIVED
				                        </div>
				                        <div class="field-value align-center" id="docDateReceived-val">
				                           DATE RECEIVED
				                        </div>
                        			</td>
                        		</tr>
                        		<tr>
                        			<td>
                        				<div class="field-name">
				                            <i class="material-icons col-light-blue">person_pin_circle</i>
				                           	SOURCE OFFICE
				                        </div>
				                        <div class="field-value align-center" id="srcOffice-val">
				                           SOURCE OFFICE
				                        </div>
                        			</td>
                        		</tr>
                        		
                        		<tr>
                        			<td>
                        				<div class="field-name">
				                            <i class="material-icons col-amber">description</i>
				                           DESCRIPTION
				                        </div>
				                        <div class="field-value" id="desc-val" style="word-wrap: break-word;">
				                           DESCRIPTION
				                        </div>
                        			</td>
                        		</tr>
                        		<tr>
                        			<td>
                        				<div class="field-name">
				                            <i class="material-icons col-yellow">format_quote</i>
				                           	REMARK
				                        </div>
				                        <div class="field-value" id="remark-val" style="word-wrap: break-word;">
				                           REMARK
				                        </div>
                        			</td>
                        		</tr>
                        		
                        	</tbody>
                        </table>
	                        
                        </div>	
                        </div>
                        <div class="modal-footer align-center">
	                        <a id="link-to-forward" href="">
	                            <button id="recieve-button" type="button" class="btn bg-light-green waves-effect">
	                                    <i class="material-icons">forward</i>
	                                    <span>Forward</span>
	                            </button>	
	                        </a>
	                        
	                        <th:block th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">
								<a id="link-to-release" href="">
									<button class="btn bg-orange waves-effect" type="button">
									<i class="material-icons">send</i>
										<small>Release</small>
									</button>
								</a>
							</th:block>
                        </div>
                    </div>
                </div>
            </div>
	</section>

	<th:block layout:fragment="local-scripts">
	<!-- SweetAlert Plugin Js -->
    	<script src="/plugins/sweetalert/sweetalert.min.js"></script>
	    <!-- Jquery DataTable Plugin Js -->
	    <script type="text/javascript" th:src="@{/plugins/jquery-datatable/jquery.dataTables.js}"></script>
	    <script type="text/javascript" th:src="@{/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js}"></script>
	    <script type="text/javascript" th:src="@{/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js}"></script>
	    <script type="text/javascript" th:src="@{/plugins/jquery-datatable/extensions/export/buttons.flash.min.js}"></script>
	    <script type="text/javascript" th:src="@{/plugins/jquery-datatable/extensions/export/jszip.min.js}"></script>
	    <script type="text/javascript" th:src="@{/plugins/jquery-datatable/extensions/export/pdfmake.min.js}"></script>
	    <script type="text/javascript" th:src="@{/plugins/jquery-datatable/extensions/export/vfs_fonts.js}"></script>
	    <script type="text/javascript" th:src="@{/plugins/jquery-datatable/extensions/export/buttons.html5.min.js}"></script>
    	<script type="text/javascript" th:src="@{/plugins/jquery-datatable/extensions/export/buttons.print.min.js}"></script>
    	
  	   	
		<script>
		$(function () {
		    $('#pendingDocTbl').DataTable({
		    	scrollY:'41vh'    
		    });
		});
		</script>
		
		<script>
			function showLongDescription(desc){
				swal({
			        title: "Document Description",
			        text: "<pre style='white-space:pre-wrap'>"+desc+"</pre>",
			        html: true
			    });
			}
			
			function showLongRemark(rem){
				swal({
			        title: "Document Remark",
			        text: "<pre style='white-space:pre-wrap'>"+rem+"</pre>",
			        html: true
			    });
			}
			
			function showRowDetails(element){
				/* alert($(element).data("docTracking")) */
				var modal = $('#actionModal')
				$("#trackingNumber-val").text($(element).data("docTracking"));
				$("#docType-val").text($(element).data("docType"));
				$("#srcOffice-val").text($(element).data("docSrc"));
				$("#docDateReceived-val").text($(element).data("docDateReceived"));
				var description = new String($(element).data("docDesc"));
				var remark = new String($(element).data("docRemark"));
				
				if(description.length > 0 && description != "undefined"){
					$("#desc-val").text($(element).data("docDesc"));
				}else{
					$("#desc-val").text("Description is unavailable for this Document");
				}
				
				if(remark.length > 0 && remark != "undefined"){
					$("#remark-val").text($(element).data("docRemark"));
				}else{
					$("#remark-val").text("Remark is unavailable for this Document");
				}
				
				$("#link-to-forward").attr("href", "/documents/forward/"+$(element).data("docTracking"));
				$("#link-to-release").attr("href", "/documents/release/"+$(element).data("docTracking"));
				modal.modal('show');
			}
		</script>
	</th:block>
</body>
<!-- /.content-wrapper -->

</html>