<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>

    <th:block layout:fragment="local-styles">

    <!-- Animation Css -->
    <link href="/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">
    </th:block>
</head>
<body class="theme-orange">
	<section class="content" layout:fragment="content">
		<div class="">
			<!--container fluid class-->
			<div class="block-header"></div>
			<!-- Basic Examples -->
			<div class="row clearfix">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="card">
						<div class="header">
						
							<h2 class="col-sm-12">
								Profile Page
							</h2>
								
						
						</div>
						
									
									
									
						<div class="body">
							<div class="table-responsive">
								<table class="table table-bordered table-striped table-hover dataTable">
									<thead>
										<tr>
											<th>First Name</th>
											<th>Middle Name</th>
											<th>Last Name</th>
										</tr>
									</thead>
									<tbody>
								
										<tr th:each="user: ${userInfoList}">
									<td th:text="${user.name}"></td>
									<td ></td>
										<td th:text="${user.lname}"></td>
									
									</tr>
									</tbody>
									
										<thead>
										<tr>
											<th>Office</th>
											<th>E-mail</th>
											<th>Username</th>
										
										</tr>
									</thead>
									<tbody>
											<tr th:each="user: ${userInfoList}">
									<td th:text="${user.office}"></td>
									<td th:text="${user.email}"></td>
										<td th:text="${user.username}"></td>
										
									</tr>
									
									
									
										<tr th:each="userlogin: ${userLoginList}">
															
										<td align="center">
											<a th:href="@{'/documents/profile/'+${userlogin.id}+'/edit'}">
												<button type="button" class="btn btn-xs btn-warning waves-effect"> Change Password
			                                    	<i class="material-icons">mode_edit</i>
			                                	</button>
											</a>
			        
										</td>
									
									</tr>
									</tbody>
								
								
								
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<th:block layout:fragment="local-scripts">
	    <!-- Jquery DataTable Plugin Js -->
	    <script type="text/javascript" th:src="@{/plugins/jquery-datatable/jquery.dataTables.js}"></script>
	    <script type="text/javascript" th:src="@{/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js}"></script>
	    <script type="text/javascript" th:src="@{/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js}"></script>
	    <script type="text/javascript" th:src="@{/plugins/jquery-datatable/extensions/export/buttons.flash.min.js}"></script>
	    <script type="text/javascript" th:src="@{/plugins/jquery-datatable/extensions/export/jszip.min.js}"></script>
	    <script type="text/javascript" th:src="@{/plugins/jquery-datatable/extensions/export/pdfmake.min.js}"></script>
	    <script type="text/javascript" th:src="@{/plugins/jquery-datatable/extensions/export/vfs_fonts.js}"></script>
	    <script type="text/javascript" th:src="@{/plugins/jquery-datatable/extensions/export/buttons.html5.min.js}"></script>
    	<script type="text/javascript" th:src="@{/plugins/jquery-datatable/extensions/export/buttons.print.min.js}"></script>
    	
		<script>
		$(function () {
		    $('#trackDocTbl').DataTable({
		        responsive: true,
		        scrollY:'30vh'    
		    });
		});
		</script>
	</th:block>
</body>
<!-- /.content-wrapper -->

</html>